/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url('images/TravelAgencyIslandRim.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 112%;
    background-attachment: fixed;
    background-color: #4e769c;
}

    html, body, body form {
    }

section.sidebar {
    width: 28%;
    float: left;
}

section.content-area {
    float: right;
    width: 72%;
    height: 100%;
}

section.top-section {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    box-sizing: border-box;
    display: block;
}

div.section-wrap {
    margin-left: 40px;
    margin-right: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #444;
}

/*Sticky footer on the basis of: http://stackoverflow.com/questions/10316353/css-place-footer-always-at-the-bottom */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

footer, .push {
    height: 95px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    height: 100%;
}

.item-reserved {
    background-color: rgb(192, 232, 255);
}


section#search-form {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#search-form h4 {
    padding: 10px;
}

table.serach-table {
    width: 100%;
}

.col-md-search {
    float: left;
    width: 45%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.form-group-search {
    margin-bottom: 2px;
}

.col-md-search-btn {
    margin-bottom: 10px;
    margin-left: 25px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

table.details-data td:first-child {
    font-weight: bold;
}


.title-area {
    margin-top: 30px;
    height: 140px;
    background-image: url('images/JokaTravelAgencyBanner2.png');
    background-position: left 35px top -35px;
    /*bg size of JokaTraveAgencyBanner.png*/
    /*background-size: 450px;*/
    background-size: 790px;
    background-repeat: no-repeat;
}

.title-joka {
    display: none;
    margin-top: 0px;
    padding: 0px;
    margin-left: 80px;
    font: 75px arial, vendera;
    color: rgba(255, 255, 255, 0.96);
}

.title-agency {
    display: none;
    margin-left: 80px;
    font: 20px arial, vendera;
    color: rgba(20, 20, 20, 0.9);
}

table.body-content-main, table.menu-table {
    margin-left: auto;
    margin-right: auto;
}

td.menu-table-cell {
    height: 100%;
}

td, th {
    padding: 3px;
}

table {
    border-collapse: initial;
    min-width: 70%;
    margin-right: 0px;
}

    table.serach-table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    table.dataTable {
        min-width: 90%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

        table.dataTable table {
            min-width: 10px;
            margin-left: auto;
            margin-right: auto;
            border-spacing: 4px;
        }

.navigation {
    position: sticky;
    top: 15px;
}

.navbar-nav, .navbar-nav > li {
    float: none;
}

.account {
    border-top: 1px solid darkgray;
    margin-top: 10px;
}

.navigation {
    min-width: 120px;
    border: 0px solid white;
    border-radius: 10px;
    margin: 10px;
}

.navigation-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-main {
    font-size: 150%;
}

.menu-table-cell {
    vertical-align: top;
}

.side-panel {
    background-color: white;
    background-image: url('images/PanelBg.png');
    background-repeat: repeat;
}

.main-panel {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    border: 0px solid white;
}

.main-panel-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Clearfix is a method for setting size of parent div to be valid when its children are float:
    http://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing */
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.panel-header {
    height: 25px;
    background-color: darkgray;
    background-image: url('images/PanelHeaderBg.png');
    background-repeat: repeat-x;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 2px;
    padding-left: 10px;
    color: rgb(128, 128, 128);
    font-weight: bold;
}

.panel-header-button {
    background-image: url('images/BallButton2.png');
    background-repeat: no-repeat;
    background-size: 15px;
    margin-top: 1px;
    float: right;
    width: 20px;
    height: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 15px;
        padding-top: 0px;
    }
}